.dashboardRow {
  margin-top: 20px;
}

.dashboardPanel {
  margin-top: 20px;
}

.card {
  border: none;
  width: auto;
}

.card-body {
  background: rgba(236, 236, 236,0.5);
}

.card-title {
  margin: 0.2rem;
}

.color-me{
  color:white;
}

.color-me:hover{
  color:red;
}

.farLeft{
  position: absolute;
  left: 10px;
}



.navbar-custom {
  background-color: #ffae00dc;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(0, 0, 0, 0.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}


.center {
  margin: auto;
  
  padding: 100px;
}